<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level (%F:%L) %logger{36} - %msg%n"/>
        </Console>

        <RollingFile
                name="rollingFile"
                fileName="logs/application.log"
                filePattern="logs/application.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p (%F:%L) %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>

        <SMTP name="Mail"
              subject="Error Logs de B2" to="errors@b2.nur.edu"
              from="test@b2.nur.edu"
              smtpHost="sandbox.smtp.mailtrap.io"
              smtpPort="2525" bufferSize="5"
              smtpUsername="7b04698540fa09" smtpPassword="e9f78f7503f356">
        </SMTP>
        <SMTP name="RegistroMail"
              subject="Notificación de Registro" to="registro@b2.nur.edu"
              from="test@b2.nur.edu"
              smtpHost="sandbox.smtp.mailtrap.io"
              smtpPort="2525" bufferSize="5"
              smtpUsername="7b04698540fa09" smtpPassword="e9f78f7503f356">
        </SMTP>
    </Appenders>
    <Loggers>
        <Logger name="RegistroLogger" level="info" additivity="false">
            <AppenderRef ref="RegistroMail" level="info"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="rollingFile" level="error"/>
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="rollingFile" level="error"/>
            <AppenderRef ref="Mail" level="error"/>
            <AppenderRef ref="RegistroMail" level="debug"/>
            <AppenderRef ref="RegistroMail" level="info"/>
            <AppenderRef ref="RegistroMail" level="error"/>
        </Root>
    </Loggers>
</Configuration>